@font-face {
    font-family: "YDWBananaSlipPlus";
    src: url("../../public/font/YDWbananaslipplus.otf");
}

body {
    background-color: #a1d9b2; /* 淡い緑 */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "YDWBananaSlipPlus", sans-serif;
}

.standbyPageContainer {
    background-color: #a1d9b2; /* 淡い緑 */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Arial", sans-serif;
}

.standbyPageCard {
    background-color: #fefefe;
    border-radius: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 70%;
    max-width: 800px;
    min-width: 600px;
    padding: 40px;
    text-align: center;
}

.standbyTitle {
    color: #fefefe;
    -webkit-text-stroke: 2px #ff6f61;
    -webkit-text-fill-color: #fefefe;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: none; /* 影をなくす */
}

.room-code-section {
    margin: 20px 0;
}

.room-code-label {
    font-size: 1.2rem;
    color: #333;
}

.room-code {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.circle {
    background-color: #ffd54f;
    width: 80px; /* サイズを少し大きく */
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem; /* 数字を大きく */
    font-weight: bold;
    color: black;
    text-shadow: 3px 3px 0px white, -3px -3px 0px white, 3px -3px 0px white,
        -3px 3px 0px white;
    border: none;
}

.wait-list {
    margin: 30px 0;
}

.wait-list-label {
    color: #333;
    margin-bottom: 8px;
}

.wait-list-box {
    border: 2px solid #ffa726;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.cancel-button {
    background-color: #b0bec5;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.start-button {
    background-color: #8abad3ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #90a4ae;
}

.start-button:hover {
    background-color: #6a9abf;
}
