@font-face {
    font-family: "YDWBananaSlipPlus";
    src: url("../../public/font/YDWbananaslipplus.otf");
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 5px solid #fefefe;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: #6d9dc5;
    color: #fefefe;
    font-family: "YDWBananaSlipPlus", sans-serif;
    max-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .btn {
        font-size: 0.9rem;
        padding: 10px;
        width: 60%; /* スマホでは少し小さく */
    }
}
