@font-face {
    font-family: "YDWBananaSlipPlus";
    src: url("../../public/font/YDWbananaslipplus.otf");
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 5px solid #fefefe;
    border-radius: 15px;
    background-color: #6d9dc5;
    color: #fefefe;
    font-family: "YDWBananaSlipPlus", sans-serif;
}
